[submodule "Hazel/vendor/FastNoise"]
	path = Hazel/vendor/FastNoise
	url = https://github.com/Auburn/FastNoiseLite
[submodule "Hazel/vendor/Box2D"]
	path = Hazel/vendor/Box2D
	url = https://github.com/TheCherno/Box2D
