# Binaries
**/bin/
!vendor/bin/premake/
!Hazel/vendor/mono/bin
bin-int/
# Files
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
Hazel/obj/
Hazel/vendor/assimp/code/assimp.dir/Debug/
Hazel/vendor/assimp/test/assimp.dir/Debug/