# Binaries
**/bin/
!vendor/bin/premake/
!Hazel/vendor/mono/bin
bin-int/
obj/

# Files
# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

Hazel/obj/
Hazel/vendor/assimp/code/assimp.dir/Debug/
Hazel/vendor/assimp/test/assimp.dir/Debug/
Hazel/vendor/Glad/obj/Debug/
Hazel/vendor/imgui/obj/Debug/
